//Definições de cores
@blue: #0c5990;
@grey: #707070;
@grey-light: #c1c1c1;
@grey2: #b5b5b5;

//Importação de fontes
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
body{
    font-family: 'Ubuntu', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    img{
        width: 496px;
        height: 78px;
        margin-bottom: 106px;
    }
    .text{
        width: 50%;
        h1{
            color: @blue;
            text-align: center;
            font-size: 32px;
            margin-bottom: 16px;
        }
        p{
            color: @grey;
            font-size: 16px;
            text-align: center;
            line-height: 24px;
            margin-bottom: 68px;
        }
    }
    a{
        width: 120px;
        height: 48px;
        background: @blue;
        border-radius: 32px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
}

.register{
    width: 1100px;
    height: 256px;
    background: transparent;
    margin: 0 auto;
    margin-top: 95px;
    box-shadow: 2px 9px 30px 1px black;
    padding: 20px;
    .column1{
        h2{
            color: @blue;
            font-size: 24px;
            margin: 0;
        }
        p{
            color: @grey-light;
            font-size: 16px;
            margin: 10px 0px;
        }
    }
    .column2{
        margin-top: 40px;
        form{
            display: flex;
            align-items: center;
            label{
                display: flex;
                flex-direction: column;
                color: @grey2;
                font-size: 10px;
                input.servico{
                    width: 464px;
                    height: 32px;
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    border-bottom: 2px solid @blue;
                }
                input.data{
                    width: 184px;
                    height: 32px;
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    border-bottom: 2px solid @blue;
                    
                }
                input.placa{
                    width: 184px;
                    height: 32px;
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    border-bottom: 2px solid @blue;
                }
            }
            label.data{
                margin: 0px 25px;
            }
        }
    }
    .column3{
        margin-top: 40px;
        display: flex;
            justify-content: flex-end;
        button{
            width: 168px;
            height: 48px;
            border-radius: 32px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }
        button.btn1{
            background: transparent;
            border: 1.5px solid @blue;
            color: @blue;
            margin-right: 15px;
        }
        button.btn2{
            color: #fff;
            background: @blue;
        }
    }
}