@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoC1CzTtw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgo6eA.ttf) format('truetype');
}
body {
  font-family: 'Ubuntu', sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.container img {
  width: 496px;
  height: 78px;
  margin-bottom: 106px;
}
.container .text {
  width: 50%;
}
.container .text h1 {
  color: #0c5990;
  text-align: center;
  font-size: 32px;
  margin-bottom: 16px;
}
.container .text p {
  color: #707070;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  margin-bottom: 68px;
}
.container a {
  width: 120px;
  height: 48px;
  background: #0c5990;
  border-radius: 32px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.register {
  width: 1100px;
  height: 256px;
  background: transparent;
  margin: 0 auto;
  margin-top: 95px;
  box-shadow: 2px 9px 30px 1px black;
  padding: 20px;
}
.register .column1 h2 {
  color: #0c5990;
  font-size: 24px;
  margin: 0;
}
.register .column1 p {
  color: #c1c1c1;
  font-size: 16px;
  margin: 10px 0px;
}
.register .column2 {
  margin-top: 40px;
}
.register .column2 form {
  display: flex;
  align-items: center;
}
.register .column2 form label {
  display: flex;
  flex-direction: column;
  color: #b5b5b5;
  font-size: 10px;
}
.register .column2 form label input.servico {
  width: 464px;
  height: 32px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #0c5990;
}
.register .column2 form label input.data {
  width: 184px;
  height: 32px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #0c5990;
}
.register .column2 form label input.placa {
  width: 184px;
  height: 32px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #0c5990;
}
.register .column2 form label.data {
  margin: 0px 25px;
}
.register .column3 {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}
.register .column3 button {
  width: 168px;
  height: 48px;
  border-radius: 32px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.register .column3 button.btn1 {
  background: transparent;
  border: 1.5px solid #0c5990;
  color: #0c5990;
  margin-right: 15px;
}
.register .column3 button.btn2 {
  color: #fff;
  background: #0c5990;
}
